%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        argus => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::argus',
            },
        },
    },
);

%Image::ExifTool::UserDefined::argus = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-argus', 2 => 'Image' },
    NAMESPACE => { 'argus' => 'http://argus.example.com/ns/1.0/' },

    WRITABLE => 'real',

    TiltRad => {},
    RollRad => {},
    AzimuthRad => {},
    StationID => {},
    CameraNumber => {},
    Timestamp => {},
);

1;  # required